p {
	color: blue; font-size: 12px
}

html {
	background-color: white;
	font-size: 14px;
	width:500px;
}




h1{
	font-size: 30px;
}

h2{
	font-size: 30px;
}

.page {

font-size: 14px;
background-color: #ece6e9;
padding: 15px;
width: 90%
text-align: center
border-style: outset;
border: 2px solid black;

}

.PresTableau {
color: red;
font-size: 16px;
text-align: center
}

.entete{
  text-align: center
}




.fin {
text-align: center

}